In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Inyonga,TZ,2020-01-03 00:41:50,-6.72,32.06,64.60,94,100,3.11
1,1,Potosi,BO,2020-01-03 00:41:50,-19.59,-65.75,49.35,78,59,8.77
2,2,Mayo,CA,2020-01-03 00:41:51,63.59,-135.90,3.20,71,75,11.41
3,3,Busselton,AU,2020-01-03 00:41:51,-33.64,115.35,57.99,90,0,1.01
4,4,Santa Cecilia,CR,2020-01-03 00:41:51,9.85,-84.31,71.60,88,75,5.82

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
g_key

'AIzaSyAH87X-PI8RQfWzT8amGlKi6P3N3ONdliM'

In [4]:
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]
locations

       Lat     Lng
0    -6.72   32.06
1   -19.59  -65.75
2    63.59 -135.90
3   -33.64  115.35
4     9.85  -84.31
..     ...     ...
548  50.03  -66.88
549  57.79   14.13
550  57.94   69.02
551  -6.50  108.06
552  38.73  -27.07

[553 rows x 2 columns]

In [5]:

# 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# Get the maximum temperature from dataframe and put in new variable max_temp. 
max_temp = city_data_df["Max Temp"]

# Initialze new array temps, then for each temp in max_temp, compare max_temp to 0 and append whichever is larger to temps array. 
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
temps

[64.6,
 49.35,
 3.2,
 57.99,
 71.6,
 0,
 56.46,
 82.4,
 46.0,
 50.0,
 79.72,
 60.21,
 41.0,
 0,
 73.49,
 69.49,
 78.8,
 0,
 81.81,
 61.0,
 57.2,
 85.93,
 69.01,
 67.08,
 68.0,
 55.0,
 44.01,
 14.0,
 91.29,
 50.0,
 82.8,
 60.8,
 88.14,
 1.08,
 35.6,
 87.8,
 69.24,
 62.01,
 68.0,
 39.29,
 0,
 53.6,
 81.93,
 54.55,
 10.4,
 75.06,
 44.6,
 83.23,
 6.8,
 80.6,
 76.96,
 0,
 81.1,
 78.8,
 54.93,
 63.3,
 81.12,
 69.71,
 76.82,
 51.8,
 77.0,
 0,
 23.0,
 0,
 23.0,
 30.2,
 39.0,
 70.74,
 54.37,
 29.88,
 77.0,
 33.8,
 68.74,
 29.53,
 84.42,
 57.99,
 82.4,
 19.99,
 60.8,
 86.0,
 81.3,
 37.4,
 69.8,
 57.78,
 9.07,
 3.49,
 1.78,
 5.0,
 62.6,
 28.99,
 52.0,
 80.6,
 0,
 48.06,
 65.44,
 32.92,
 15.28,
 79.77,
 73.35,
 55.22,
 62.6,
 51.8,
 81.36,
 32.09,
 54.0,
 59.0,
 54.0,
 32.27,
 65.25,
 55.4,
 66.99,
 57.2,
 68.92,
 75.81,
 64.4,
 0,
 77.16,
 81.79,
 45.0,
 0,
 77.0,
 42.01,
 68.0,
 6.8,
 53.6,
 53.01,
 33.8,
 73.02,
 46.4,
 26.56,
 23.0,
 46.99,
 15.93,
 54.52,
 73.6,
 0,
 17.33,
 84.06,
 24.8,
 48.0,
 80.2,
 3.2,
 32.0,
 33.4,
 81.34,
 78.8,
 0,
 0,
 26.6,
 52.36,
 95.0,
 1.4,
 82.99,
 73.4,
 65.79,
 0,
 15.28,
 86.0,
 18.54,
 69.8,
 66.2,
 42.8,
 36.0,
 86.0,
 60.8,
 10.17,
 78.98,
 72.61,
 50.5,
 36.59,
 58.77,
 87.98,
 26.64,
 75.06,
 86.52,
 66.2,
 7.9,
 0,
 46.0,
 41.0,
 79.9,
 0,
 69.01,
 24.8,
 35.6,
 50.0,
 77.7,
 43.0,
 41.99,
 0.9,
 39.0,
 3.04,
 23.0,
 83.68,
 42.8,
 80.64,
 83.52,
 50.0,
 73.49,
 42.8,
 74.39,
 46.0,
 0,
 87.8,
 60.8,
 37.0,
 41.0,
 41.0,
 35.42,
 21.2,
 39.33,
 74.7,
 70.83,
 54.48,
 90.0,
 0,
 36.88,
 77.0,
 82.11,
 21.2,
 43.0,
 57.72,
 55.99,
 79.66,
 3.87,
 50.59,
 53.28,
 23.0,
 66.29,
 78.8,
 69.8,
 50.09,
 84.99,
 69.8,
 26.6,
 34.0,
 0,
 64.22,
 51.8,
 80.31,
 78.8,
 59.0,
 79.47,
 51.1,
 27.86,
 26.46,
 62.6,
 74.71,
 66.34,
 0,
 78.8,
 66.2,
 48.02,
 26.19,
 77.0,
 0,
 69.69,
 16.74,
 13.3,
 53.6,
 24.33,
 68.14,
 69.8,
 6.8,
 84.0,
 4.77,
 78.8,
 5.0,
 35.6,
 60.8,
 74.75,
 72.81,
 77.0,
 80.6,
 70.86,
 48.2,
 12.0,
 50.0,
 66.0,
 78.58,
 68.0,
 12.99,
 41.0,
 98.6,
 84.87,
 72.0,
 81.12,
 75.2,
 0,
 0,
 80.6,
 80.6,
 46.4,
 77.0,
 54.88,
 87.8,
 46.4,
 73.11,
 63.0,
 55.99,
 68.0,
 44.6,
 55.4,
 8.76,
 56.91,
 20.61,
 39.2,
 66.2,
 80.6,
 80.6,
 68.47,
 75.79,
 21.2,
 0,
 47.68,
 86.27,
 80.6,
 62.01,
 72.81,
 35.92,
 49.66,
 37.0,
 14.0,
 82.13,
 76.23,
 46.0,
 78.8,
 12.2,
 80.55,
 71.6,
 62.6,
 72.12,
 56.62,
 15.8,
 64.4,
 28.4,
 70.0,
 71.6,
 55.17,
 51.58,
 79.03,
 30.99,
 12.2,
 64.4,
 75.2,
 30.99,
 62.29,
 72.05,
 0,
 46.0,
 0,
 26.6,
 86.0,
 41.67,
 84.0,
 41.0,
 73.9,
 59.99,
 71.76,
 39.2,
 38.44,
 69.3,
 61.86,
 77.95,
 37.4,
 34.11,
 70.39,
 78.01,
 51.75,
 28.4,
 39.99,
 29.52,
 33.01,
 60.01,
 12.61,
 85.95,
 75.29,
 24.71,
 0,
 77.9,
 0,
 19.4,
 20.5,
 43.0,
 55.0,
 73.2,
 80.56,
 63.55,
 76.08,
 86.0,
 21.2,
 75.2,
 39.99,
 73.33,
 42.8,
 24.8,
 27.95,
 78.8,
 82.72,
 34.0,
 54.0,
 73.99,
 79.16,
 41.0,
 61.0,
 74.5,
 7.38,
 17.38,
 36.36,
 12.04,
 44.6,
 72.45,
 76.41,
 68.0,
 72.52,
 49.91,
 6.42,
 49.95,
 65.84,
 78.8,
 64.27,
 11.7,
 57.38,
 45.28,
 80.6,
 68.76,
 44.01,
 1.4,
 55.4,
 6.8,
 51.01,
 14.27,
 59.0,
 75.38,
 48.99,
 28.29,
 63.57,
 55.99,
 75.0,
 81.05,
 0,
 39.9,
 0,
 35.83,
 68.0,
 8.11,
 77.0,
 60.8,
 68.0,
 62.33,
 49.96,
 24.8,
 53.89,
 35.6,
 41.0,
 89.6,
 71.01,
 36.73,
 78.8,
 69.66,
 69.28,
 82.15,
 76.08,
 61.92,
 0,
 57.2,
 32.92,
 66.36,
 78.22,
 29.7,
 31.28,
 57.72,
 80.6,
 84.36,
 53.6,
 76.59,
 34.7,
 20.86,
 17.69,
 80.01,
 52.0,
 12.63,
 0,
 26.6,
 33.8,
 24.8,
 80.56,
 81.39,
 51.01,
 77.52,
 72.93,
 76.05,
 0,
 81.88,
 44.6,
 0,
 36.73,
 80.82,
 37.99,
 37.4,
 78.8,
 44.01,
 26.6,
 0,
 69.8,
 0,
 0,
 46.0,
 44.6,
 65.53,
 39.0,
 0,
 82.4,
 0,
 71.6,
 62.6,
 77.0,
 39.0,
 68.0,
 68.0,
 53.01,
 41.0,
 26.76,
 73.4,
 4.17,
 64.99,
 84.2,
 77.23,
 63.0,
 71.6,
 23.56,
 69.73,
 75.18,
 42.01,
 76.21,
 87.01,
 53.6,
 77.94,
 84.09,
 14.77,
 22.15,
 44.6,
 80.6,
 73.4,
 39.2,
 61.0,
 48.0,
 75.61,
 14.0,
 37.4,
 12.87,
 78.6,
 51.8]

In [6]:
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4) 
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# gmaps.heatmap_layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=250, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=250, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?72
What is the maximum temperature you would like for your trip?85

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Georgetown,GY,2020-01-03 00:41:52,6.80,-58.16,82.40,69,20,4.70
10,10,Rikitea,PF,2020-01-03 00:41:52,-23.12,-134.97,79.72,72,98,5.53
14,14,Cidreira,BR,2020-01-03 00:41:53,-30.17,-50.22,73.49,76,20,21.43
16,16,Puerto Ayora,EC,2020-01-03 00:41:54,-0.74,-90.35,78.80,69,75,14.99
18,18,Bluff,AU,2020-01-03 00:41:55,-23.58,149.07,81.81,57,50,11.16
30,30,Hithadhoo,MV,2020-01-03 00:41:58,-0.60,73.08,82.80,75,0,12.12
42,42,Port Blair,IN,2020-01-03 00:42:01,11.67,92.75,81.93,73,21,17.60
45,45,Sao Miguel Do Araguaia,BR,2020-01-03 00:42:02,-13.28,-50.16,75.06,90,100,0.74
47,47,Aitape,PG,2020-01-03 00:42:02,-3.15,142.36,83.23,76,99,5.99
49,49,Kapaa,US,2020-01-03 00:39:00,22.08,-159.32,80.60,83,75,16.11

In [28]:
preferred_cities_df.count()

City_ID       140
City          140
Country       138
Date          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp    Lat     Lng Hotel Name
7               Georgetown      GY     82.40   6.80  -58.16
10                 Rikitea      PF     79.72 -23.12 -134.97
14                Cidreira      BR     73.49 -30.17  -50.22
16            Puerto Ayora      EC     78.80  -0.74  -90.35
18                   Bluff      AU     81.81 -23.58  149.07
30               Hithadhoo      MV     82.80  -0.60   73.08
42              Port Blair      IN     81.93  11.67   92.75
45  Sao Miguel Do Araguaia      BR     75.06 -13.28  -50.16
47                  Aitape      PG     83.23  -3.15  142.36
49                   Kapaa      US     80.60  22.08 -159.32

In [31]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# payload = {'key1':'value1', 'key2':'value2'}
# r = requests.get('https://httpbin.org/get', params=payload)

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

# Add the latitude and longitude to the params dictionary as values to
#   the location key.
    params["location"] = f"{lat},{lng}"

# Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Georgetown,GY,82.40,6.80,-58.16,Kanhai's Center
10,Rikitea,PF,79.72,-23.12,-134.97,Pension Maro'i
14,Cidreira,BR,73.49,-30.17,-50.22,Pond Country Club
16,Puerto Ayora,EC,78.80,-0.74,-90.35,Finch Bay Galapagos Hotel
18,Bluff,AU,81.81,-23.58,149.07,Bluff Hotel
30,Hithadhoo,MV,82.80,-0.60,73.08,Scoop Guest House
42,Port Blair,IN,81.93,11.67,92.75,Fortune Resort Bay Island
45,Sao Miguel Do Araguaia,BR,75.06,-13.28,-50.16,Hotel Executivo Palace
47,Aitape,PG,83.23,-3.15,142.36,
49,Kapaa,US,80.60,22.08,-159.32,

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [45]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))